<center><h1>About the Owner</h1></center>

<p>This is all about me</p>

<p>Today is <%= Date.today %>.  Have a great day!  </p>

<p> We are this many days into the week: <%= Date.today.wday %>. Only <%= 7 - Date.today.wday %> to go! </p>

<p>By the way 


<!-- #<h1>Pages#home</h1> -->
<!-- <p>Find me in app/views/pages/home.html.erb</p> -->
