body {
  background: url("http://www.tumblr18.com/t18/2013/12/Three-pink-daisies.jpeg");
    background-size: cover;
    margin: 40px auto; 
}

 h1 {                        /*this is a css generator */
        font-weight: bold;   /*these are css properties */ 
        color: #c00000;      /*these are css properties */
      }

div {
  height: 50px;
  width: 200px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
}

.div-class {
  border: 2px solid white;
  border-radius: 5px;
}

#div-id {
  border: 5px dotted green;
  border-radius: 5px;
}








